
  
  .main__servicios { background-image: url(https://cdnb.artstation.com/p/assets/images/images/045/607/005/large/vadim-sadovski-b35.jpg?1643124860);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;

                  .my-card { width: auto;
                    display: flex;
                    margin-top: 15rem;
                    margin-bottom:20rem ;    
                              
                            @media screen  and (min-width:200px) and (max-width:1024px){
                                .my-card { height: 70vh;
                                overflow:auto
                                }
                                
                                }
                  }


  }
  
  .my-seguridad{ background-image: url(https://cdnb.artstation.com/p/assets/images/images/012/320/861/large/vadim-sadovski-a6.jpg?1534192489);}
    
    
    .mensaje_m { 
    text-align: center;
    font-family: $tipografia-tune;
    overflow: auto;
    border-radius: map-get($bordes , $bordes-radio-r );
    font-size: 2vw;
    background-color:$dorado-blindado;
    ;
    }
    
    /* ______________________________________________PAGINA DE SEGURIDAD ______________________________________________ */


  
  .flex_div { 
      display: none;
      flex-direction: none;

              @media screen and (min-width:200px) and (max-width:540px) {
                  .flex__div {
                      display: flex;
                      flex-direction: column;
                    }
                
                  
            }
}
  

.globo-conversacion {
  background-color: #090909;
  border-radius: 10px;
  color: $galactic-black;
  padding: 10px;
  position: relative;
  max-width: 250px;
  font-size: 16px;
  font-family: $tipografia-tune;
  margin-left: 55vw;

          &::before {
        @include border-position (-20px);
          }
          &::after {
          @include border-position (-18px);
  }        
}


main {
  background-color: $casi-black;


  h1 h2 .col-sm-7 {
  font-family: $tipografia-tune;
}

          .main__index {
            background-image: url(https://cdnb.artstation.com/p/assets/images/images/027/204/833/large/justin-wentz-overhex-hangar-copy.jpg?1590882414);
            background-repeat: no-repeat;
            background-position: top;
            background-size: auto;
      
                    @media screen  and (min-width:200px) and (max-width:1024px){
                              .main__index {
                                background-image: url( https://cdna.artstation.com/p/assets/images/images/000/678/574/large/jessica-rossier-concept-art-leaving-the-world-jessica-rossier.jpg?1443929515);
                              }        
                            }

        
                          .form-check-label {
                                font-size: 30px;
                                  }

      section article {
        font-family: $tipografia-tune;
        color: $dorado-blindado;
        text-align: center;
                        
                                        .registrate {
                                          margin: 10px;
                                          font-family: $tipografia-tune;
                                          background-color:$dorado-blindado;
                                          text-align: center;
                                          border-radius: 50px 1px;
                                          overflow: auto;
                                              
                                                    @media screen and (min-width: 1200px) and (max-width: 2000px) {
                                                        .registrate {
                                                          width: 20vw;
                                                          height: 70vh;
                                                        }
                                                      }
                                                            @media only screen and (min-width: 200px) and (max-width: 1198px) {  
                                                              .registrate {
                                                                background-color: $dorado-blindado;
                                                                overflow: auto;
                                                                height: 20vh;
                                                              }
                                    
                                                        }
            
                                                }
                        
                                        .entidad {
                                          height: 10vh;
                                          color: blanchedalmond;
                                          background-color: #00000096;
                                          position: relative;
                                          margin-left: 40%;
                                          text-align: center;
                                          font-family: $tipografia-tune;
                                          overflow: auto;
                                          border-radius: 50px 0 0 50px;
                                          margin-bottom: 50px;
                                        }
    
                                                  
                                        .viaje__fecha {
                                          background-color:$casi-black ;
                                          font-family: $tipografia-tune;
                                        
                                                      @media screen  and (min-width:200px) and (max-width:1024px){
                                                      .viaje__fecha { 
                                                        background-image: linear-gradient(  to bottom ,  #1d1d1d76,  #000000ca);
                                                        }
                                                  }  
                                
                                                              @media only screen and (min-width: 200px) and (max-width: 1198px) {
                                                              .viaje__fecha {
                                                                background-color: #1d1d1de3;
                                                              }
                                                      } 
                                        div_h1 { 
                                          
                                                .h1__viaje {
                                                  color:$casi-black;
                                                }
                                                  }    
                                                    }                                        
      
                                      .article__2 {
                                        height: 70vh;
                                        background-image: url(https://cdna.artstation.com/p/assets/images/images/027/204/838/large/justin-wentz-takeoff-final-v02-copy.jpg?1590880574);
                                        font-family: $tipografia-tune
                                        }
                          }
          }

}               



.ERROR{ 
  width: auto;
  height: 80vh;
background-image: url(../asset/imag/404.jpg);
background-repeat: no-repeat;
background-position:;
background-size: cover;
      {   .cuatro { 
        font-family: "Orbitron", sans-serif;
        font-size: 5em;
        color: orange;
            } 

      }

} 


.grid {
  position: relative;
  clear: both;
  margin: 0 auto;
  padding: 1em 0 4em;
  max-width: 1000px;
  list-style: none;
  text-align: center;

            figure {
                  position: relative;
                  float: left;
                  overflow: hidden;
                  margin: 10px 1%;
                  min-width: 320px;
                  max-width: 480px;
                  max-height: 360px;
                  width: 48%;
                  height: auto;
                  background: #d6cb04;
                  text-align: center;
                  cursor: pointer;
                            
                                img {
                                  position: relative;
                                  display: block;
                                  min-height: 100%;
                                  max-width: 100%;
                                  opacity: 0.8;
                                

                                                padding: 2em;
                                                color: hwb(48 2% 4%);
                                                text-transform: uppercase;
                                                font-size: 1.25em;
                                                -webkit-backface-visibility: hidden;
                                                backface-visibility: hidden;

                                                              &::before,
                                                              &::after {
                                                                pointer-events: none;
                                                                            }

                                                            &, > a {
                                                              position: absolute;
                                                              top: 0;
                                                              left: 0;
                                                              width: 100%;
                                                              height: 100%;
                                                            }

                                                            > a {
                                                              z-index: 1000;
                                                              text-indent: 200%;
                                                              white-space: nowrap;
                                                              font-size: 0;
                                                              opacity: 0;
                                                            }

                                                          h2 {
                                                            word-spacing: -0.15em;
                                                            font-weight: 300;
                                                            span {
                                                              font-weight: 800;
                                                            }
                                                          }

                                                        p {
                                                          margin: 0;
                                                          letter-spacing: 1px;
                                                          font-size: 68.5%;
                                                        }
                                                              }
                                                            }

                                  .effect-julia {
                                    background: #2f3238;

                                          img {
                                            max-width: none;
                                            height: 400px;
                                            -webkit-transition: opacity 1s, -webkit-transform 1s;
                                            transition: opacity 1s, transform 1s;
                                            -webkit-backface-visibility: hidden;
                                            backface-visibility: hidden;
                                          }

                                                figcaption {
                                        text-align: left;
                                        h2 {
                                          position: relative;
                                          padding: 0.5em 0;
                                        }

                        p {
                          display: inline-block;
                          margin: 0 0 0.25em;
                          padding: 0.4em 1em;
                          background: rgba(239, 223, 0, 0.9);
                          color: #1f1f1f;
                          text-transform: none;
                          font-weight: 500;
                          font-size: 75%;
                          -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
                          transition: opacity 0.35s, transform 0.35s;
                          -webkit-transform: translate3d(-360px,0,0);
                          transform: translate3d(-360px,0,0);
                  
        &:first-child {
          -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
        }

        &:nth-of

                                                    

              }
            }
      }
}




.video-contenedor {
  position: relative;
  padding-bottom: 56.25%; 
  height: 0; 
        
      { .video-contenedor iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
      }

}






