/* _______________ PAGINA_info______________________________________________*/
.puedes { 
    background-color:$casi-black;
    padding: 20px;
  }
  
  .my-conteiner__info{ 
  width: auto;
  height: auto;
  }
  .conteiner__mapa { 
    background-color: #242222b1;
  }
  .my-card__info { 
    border-radius: 50px 1px;
    background-color: $dorado-blindado;
  background-repeat: no-repeat ;
  }
  
  