
/*  __________________  ̿̿ ̿̿ ̿̿ ̿'̿'\̵͇̿̿\з= ( ▀ ͜͞ʖ▀) =ε/̵͇̿̿/’̿’̿ ̿ ̿̿ ̿̿ ̿̿   ___________________-*/
/*                                Seguridad                                 */


.container-lg  {text-align: center;
    font-family: $tipografia-tune;
    }
    .my-seguridad{ background-image: url(https://cdnb.artstation.com/p/assets/images/images/012/320/861/large/vadim-sadovski-a6.jpg?1534192489);}
    
    .my-columna { text-align: center;
      font-family: $tipografia-tune;
      background-image: url;}
    


    .my-card { width: auto;
display: flex;
    margin-top: 15rem;
    margin-bottom:20rem ;      
    }
    

    @media screen  and (min-width:200px) and (max-width:1024px){

        .my-card { height: 70vh;
        overflow:auto
        }
        
        }
        

  .my-card__seguro { 
    background-image: linear-gradient(  to bottom ,  #1d1d1dd4,  #000000e9);
  }
  


    .fondo__black { 
    background-color: $galactic-black;
    }
    
    .mensaje_m { 
    text-align: center;
    font-family: "Orbitron", sans-serif;
    overflow: auto;
    border-radius: 0px 70px 0 70px;
    font-size: 2vw;
    background-color:$dorado-blindado;
    ;
    }
    
    /* ______________________________________________PAGINA DE SEGURIDAD ______________________________________________ */

.col-lg-6 {
    flex-direction: row;
    align-items: center;
  }
  
  .flex_div 
  { display: none;
  flex-direction: none;}
  
  
  @media screen and (min-width:200px) and (max-width:540px) {
    .flex__div 
    { display: flex;
    flex-direction: column;}
  
    
  }
  
  
  

  .globo-conversacion {
    background-color: #090909;
    border-radius: 10px;
    color: $galactic-black;
    padding: 10px;
    position: relative;
    max-width: 250px;
    font-size: 16px;
    font-family: $tipografia-tune;
    margin-left: 55vw;
  
  }
  
  .globo-conversacion::before {
    content: '';
    position: absolute;
    border-top: 20px solid $galactic-black;
    border-left: 10px solid transparent;
    border-right: 20px solid transparent;
    bottom: -20px;
    left: 10px;
  }
  
  .globo-conversacion::after {
    content: '';
    position: absolute;
    border-top: 20px solid $galactic-black;
    border-left: 10px solid transparent;
    border-right: 20px solid transparent;
    bottom: -18px;
    left: 10px;
  }
  
  
  
  
  .main__seguridad { background-image: url(https://cdnb.artstation.com/p/assets/images/images/045/607/005/large/vadim-sadovski-b35.jpg?1643124860);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
  }
  