* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  body {
    background-color: $color-body;
  }
  


  .col-lg-6 {
    flex-direction: row;
    align-items: center;
  }

  
.container-lg  {
  text-align: center;
  font-family: $tipografia-tune;
  }


  
.fondo__black{ 
      $fondo_black:$fondo_black
              }



.puedes { 
  background-color:$casi-black;
  padding: 20px;
}
        
.my-conteiner__info{ 
width: auto;
height: auto;
  }


        .conteiner__mapa { 
          $fondo_black--transparente
        }

        .my-card__info { 
          $bordes-radio-fachero
          background-color: $dorado-blindado;
        background-repeat: no-repeat ;
        }
        


        .my-columna { text-align: center;
          font-family: $tipografia-tune;
          ;}
        
      
          
.my-card__seguro { 
  $fondo_black--transparente--gradiente;
}

.i_font { 
  font-size: 20px;
}
.h_auto{
  height: auto;
  width: 18rem;
}

.color__contraste { 
  color: #d78f08;
}

.text-focus-in {
	animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

 @keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

.article_servi{ 
  margin-top: 15em;
}